.auth-login {
    background: linear-gradient(65deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/landscape.jpg);
    background-size: auto 100%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    margin-bottom: 0 !important;
}
