.app-card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    overflow: hidden;

    &.stats {
        .app-card-body {
            i {
                font-size: 25px;
                display: block;
                margin: 0 auto 10px auto;
            }

            p {
                margin: 0;
                padding: 0;

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    &.warrant {
        background: #e74c3c;

        .app-card-header {
            border-bottom: 1px solid rgba(192, 57, 43,1.0);
            color: #ffffff;

            .description {
                color: rgba(255,255,255,.7);
            }
        }

        .app-card-body {
            p {
                margin: 0;
                padding: 0;
                color: #fff;
            }
        }
    }

    .app-card-header {
        position: relative;
        padding: 20px;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid rgba(240, 240, 240, 1);

        &.profile-info {
            .title {
                margin: 9px 0 0 0;
            }

            strong {
                font-weight: 600;
            }

            .row>* {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }

        img {
            float: left;
            border-radius: 5px;
            width: 100px;
            height: 100px;
            margin: 0 20px 0 0;
            object-fit: cover;
        }

        p {
            margin: 0;
            padding: 0;

            &.title {
                font-weight: 500;
                font-size: 15px;
            }

            &.description {
                color: rgba(var(--colorText),.7);
                font-size: 13px;
            }
        }

        .btn {
            float: right;
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            font-weight: 500;

            i {
                vertical-align: middle;
            }
        }
    }

    .app-card-body {
        position: relative;
        display: block;
        padding: 20px;

        &.error {
            border-top: 1px solid #f5c2c7;
            border-bottom: 1px solid #f5c2c7;
            background: #f8d7da;
            color: #842026;

            p {
                padding: 0;
                margin: 0;

                &:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    font-size: 13px;
                }
            }
        }

        &.success {
            border-top: 1px solid #badbcc;
            border-bottom: 1px solid #badbcc;
            background: #d1e7dd;
            color: #0f5132;

            p {
                padding: 0;
                margin: 0;

                &:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    font-size: 13px;
                }
            }
        }

        &.reports {
            text-decoration: none;
            color: rgb(var(--colorText));

            .reportnumber {
                padding: 5px 10px;
                margin: 0 5px 10px 0;
                font-size: 11px;
                color: #ffffff;
                background: #004682;
                border-radius: 5px;
                font-weight: 500;
                text-transform: uppercase;
            }

            &:hover {
                background: rgba(0,0,0,.05);
            }

            p {
                margin: 0;
                padding: 0;

                &.title {
                    font-weight: 500;
                }

                &.by {
                    margin: 5px 0 -5px 0;
                    font-size: 12px;
                }
            }

            strong {
                font-weight: 500;
            }

            .right-view {
                float: right;

                .item {
                    display: inline-block;
                    margin: 0 0 0 30px;

                    strong {
                        display: block;
                    }
                }
            }
        }

        &.profile-info {

            @media (max-width: 576px) {
                .mb-sm-3 {
                    margin-bottom: 1rem !important;
                }
            }

            @media (min-width: 576px) {
                .mb-sm-3 {
                    margin-bottom: 0 !important;
                }
            }
            strong {
                font-weight: 600;
                display: block;
            }

            p {
                margin: 0;
                padding: 0;
            }
        }

        &.border-bottom {
            border-bottom: 1px solid rgba(240, 240, 240, 1);
        }

        &.profiles {
            padding: 0;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    overflow: hidden;
                    border-bottom: 1px solid rgba(240, 240, 240, 1);
                    padding: 20px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    img {
                        width: 45px;
                        height: 45px;
                        float: left;
                        vertical-align: middle;
                        margin: 0 15px 0 0;
                        border-radius: 5px;
                        object-fit: cover;
                    }

                    span {
                        display: block;

                        &.fullname {
                            font-weight: 500;
                        }
                    }

                    .btn {
                        float: right;
                        display: inline-block;
                        margin: -39px 0 0 10px;
                        text-transform: uppercase;
                        font-weight: 500;

                        i {
                            margin: 0 5px 0 0;
                        }
                    }
                }
            }
        }
    }

    .app-card-footer {
        position: relative;
        display: block;
        padding: 20px;
        border-top: 1px solid rgba(240, 240, 240, 1);

        .btn {
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}

.auth-card {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    overflow: hidden;
    width: 23%;
    box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
    border: 1px solid rgba(98, 105, 118, 0.16);

    .auth-card-header {
        position: relative;
        padding: 20px;
        -webkit-box-align: center;
        align-items: center;
        border-bottom: 1px solid rgba(240, 240, 240, 1);
        text-align: center;

        p {
            padding: 0;
            margin: 0;

            &:first-child {
                font-weight: 600;
                font-size: 18px;
                margin: 0 0 5px 0;
            }

            &:last-child {
                font-size: 12px;
                color: #666666;
            }
        }
    }

    .auth-card-body {
        position: relative;
        display: block;
        padding: 20px;

        &.error {
            border-top: 1px solid #f5c2c7;
            border-bottom: 1px solid #f5c2c7;
            background: #f8d7da;
            color: #842026;

            p {
                padding: 0;
                margin: 0;

                &:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    font-size: 13px;
                }
            }
        }

        &.success {
            border-top: 1px solid #badbcc;
            border-bottom: 1px solid #badbcc;
            background: #d1e7dd;
            color: #0f5132;

            p {
                padding: 0;
                margin: 0;

                &:first-child {
                    font-weight: 600;
                }

                &:last-child {
                    font-size: 13px;
                }
            }
        }
    }

    .auth-card-footer {
        position: relative;
        display: block;
        padding: 20px;
        border-top: 1px solid rgba(240, 240, 240, 1);
    }
}
